extends layout.pug

block links
    //- slick carousel
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")

block content
    //- section 1 - carousel
    section
        div(id="principal-carousel" class="carousel slide" data-ride="carousel")
            .carousel-inner
                - let j = 0;
                each image in images
                    - let isActive = (j == 0) ? "active" : "";
                    div(class="carousel-item " + isActive)
                        img(src= image.imgPath, alt="" class="d-block w-100")
                        - j = 1
            a(href="#principal-carousel" class="carousel-control-prev" data-slide="prev")
                i.fas.fa-chevron-left
            a(href="#principal-carousel" class="carousel-control-next" data-slide="next")
                i.fas.fa-chevron-right
            ol.carousel-indicators
               
    //- section 2 - nostros, servicios
    section.bg-white.custom-padding-1
        .container
            .row
                .col-sm-12.col-lg-6
                    h4.text-secondary ¿Deseas emprender?
                    h2.text-primary.display-3.font-weight-bold Asesoría para tu negocio
                .col-sm-12.col-lg-6
                    p.custom-line-height-1.paragraph-1 Como modelo de atención a micro y pequeñas empresas ponemos a tu  disposición diversos servicos para el crecimiento de tu empresa
                    span(class="d-block bg-secondary my-5" style="height: 6px; width: 80px")
                    div
                        a(href="/services" class="btn btn-primary py-3 px-4 mr-1") Saber más
                        a(href="/services" class="btn btn-outline-secondary py-3 px-4") Nosotros
    //- section 3 - aplicar a asesoría
    section.bg-white
        .container.custom-padding-1
            .row
                .col-sm-12.col-lg-6
                    div.d-flex.align-items-center
                        .d-flex.align-items-center.justify-content-between.mr-3
                            div(class="p-5 bg-green d-flex align-items-center justify-content-center" style="border-radius: 30px; height: 25px; width: 25px;")
                                i.fas.fa-chart-line.fa-2x.text-success
                        .py-5
                            p.text-dark.paragraph-1 Innova en tus procesos de marketing y ventas, alcanza tu mejor nivel
                    div.d-flex.align-items-center
                        .d-flex.align-items-center.justify-content-between.mr-3
                            div(class="p-5 bg-yellow d-flex align-items-center justify-content-center" style="border-radius: 30px; height: 25px; width: 25px;")
                                i.fas.fa-user-tie.fa-2x.text-warning
                        .py-5
                            p.text-dark.paragraph-1 Capacitate en procesos de mercadeo y aumenta las ganacias de tu empresa
                .col-sm-12.col-lg-6
                    h4.text-secondary Aumenta tu potencial
                    h2.font-weight-bold.text-primary.display-3 Sumate a nuestro equipo
                    span(class="d-block bg-secondary my-5" style="height: 6px; width: 80px")
                    div
                        a(href="/training" class="btn btn-primary py-4 px-5") Aplicar a asesoría
    //- section 4 - casos de éxtio
    section.bg-white.custom-padding-1
        .container
            h2.text-primary.text-center.font-weight-bold.display-4 Casos de éxito
            br
            p.custom-line-height-1.paragraph-1.w-75.m-auto.text-center Conoce algunas de las historias de las empresas que trabajan con nosotros, su desarrollo, crecimiento y cómo lograron una mayor eficiencia en su labor
            span(class="d-block bg-secondary my-5 mx-auto" style="height: 6px; width: 80px")
        .slick-carousel
            each val in businessList
                .slick-carousel-item
                    img(src="" + val.imgPath alt="" class="img-fluid d-block mx-auto my-5")
                    a(href="/business/" + val.id)
                        h4.text-center.text-primary.font-weight-bold= val.name
                    div.text-center !{val.description}
        .text-center.pt-5
            a(href="/business" class="btn btn-link") Ver más
    //- section 5 - impacto social
    section.bg-primary
        .overlay
            .container
                .custom-padding-1
                    h4.text-center.text-secondary Estadísticas
                    h2.text-center.text-white.font-weight-bold.display-3 Impacto Social
                    span(class="d-block bg-secondary my-5 mx-auto" style="height: 6px; width: 80px")
                    .row.text-center.py-5
                        .col-sm-12.col-md-4.col-lg-4.my-4
                            h2.text-white.font-weight-bold.display-4= data.businessTotal
                            p.text-white-50 Empresas
                        .col-sm-12.col-md-4.col-lg-4.my-4
                            h2.text-white.font-weight-bold.display-4= data.alliancesTotal
                            p.text-white-50 Alianzas
                        .col-sm-12.col-md-4.col-lg-4.my-4
                            h2.text-white.font-weight-bold.display-4= data.servicesTotal
                            p.text-white-50 Servicios
    //- section 6 - alianzas estrategicas
    section.bg-white
        .container.custom-padding-1
            h2.text-center.text-secondary.font-weight-bold Alianzas
            h2.text-center.text-primary.font-weight-bold.display-3 Estratégicas 
            span(class="d-block bg-secondary my-5 mx-auto" style="height: 6px; width: 80px")
            .row
                .col-sm-12.col-md-4.col-lg-4.my-4
                    img(src="/public/img/conamype.jpg", alt="" class="img-fluid")
                .col-sm-12.col-md-4.col-lg-4.my-4
                    img(src="/public/img/cdmype.jpg", alt="" class="img-fluid")
                .col-sm-12.col-md-4.col-lg-4.my-4
                    img(src="/public/img/univo.gif", alt="" class="img-fluid")
            .row
                each val in alliancesList
                    .col-sm-12.col-md-4.col-lg-2.my-4.d-flex.align-items-center
                        img(src= val.imgPath, alt="" class="img-fluid")
block scripts
    //- slick carousel
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(src="/public/js/slick.js")