extends ../shared.pug

block breadcrumbItem
    li.breadcrumb-item
        a(href="/admin/home")
            i.feather.icon-home
    li.breadcrumb-item
        a(href="/admin/employees") Empleados
    li.breadcrumb-item.active.font-italic
        span Detalles de empleado
block content
    section

        if data

            .card
                .card-header.d-flex.justify-content-between
                    h5.card-title Detalles del empleado
                    .ml-auto
                        a(href="/admin/employees/update/" + data.id class="text-decoration-none mr-3") Editar
                .card-body
                    table.table.table-bordered
                        tr
                            td(class="font-weight-bold") Imagen
                            td
                                img(src= data.imgPath class="img-fluid")
                        tr
                            td.font-weight-bold Nombre
                            td= data.name
                        tr
                            td.font-weight-bold Cargo
                            td= data.position
                        tr
                            td.font-weight-bold Emial
                            td= data.email
                        tr
                            td.font-weight-bold Telefono
                            td= data.phone
                        tr
                            td(class="font-weight-bold") Descripcion
                            td !{data.description}
block scripts